*{
	margin: 0;
	padding: 0;
}
.top{
 background-color: #393D49;
 height: 150px;
 
}
.title{
 text-align: center;
 padding:30px;
 color: #fff;
 font-size: 3em;

 
}
.title a,{
	text-decoration:none
	color:#fff;
}
.title a:visited{
	text-decoration:none
	color:#fff;
}
.title a:link{
	text-decoration:none
	color:#fff;
}
.title a:hover{
	text-decoration:none
	color:#fff;
}

